(curr_room: "Brig",
rooms: {
"Brig": (
    name: "Brig",
    desc: "You are in a small wooden room with a wood pillar in the middle. The ground slowly creaks and rocks beneath you."
),
"Hold 1": (
    name: "Hold",
    desc: "You are in the middle of a spacious hold. Crates and barrels array the sides."
)
})
