(player: "PLAYER", items: {
    "PLAYER": (
        names: ["self", "me", "myself", "i"],
        locations: ["BRIG"],
        hp: 10,
    ),
    "BRIG": (
        names: ["Brig"],
        desc: "You are in a small wooden room with a wood pillar in the middle. The ground slowly creaks and rocks beneath you.",
    ),
    "WOOD PILLAR": (
        names: ["pillar", "center middle wood wooden pillar"],
        locations: ["BRIG"],
        details: "Don't get a splinter!",
    ),
    "STICK": (
        desc: "There is a stick here.",
        names: ["stick"],
        locations: ["BRIG"],
        details: "It's short but stout.",
        can_take: true,
        damage: 1,
    ),
    "BRIG DOOR": (
        names: ["door"],
        details: "It is plain and wooden.",
        container: Closed,
    ),
    "BRIG DOOR BRIG": (
        desc: "There is a door on the north side.",
        names: ["door", "north"],
        locations: ["BRIG"],
        dest: "HOLD 1",
        door: "BRIG DOOR",
    ),
    "BRIG DOOR HOLD": (
        desc: "There is a door at the south end of the hold.",
        names: ["door", "south"],
        locations: ["HOLD 1"],
        dest: "BRIG",
        door: "BRIG DOOR",
    ),
    "ROOT BEER BARRELS": (
        desc: "You can detect the slight scent of root beer.",
        names: ["barrels", "root beer", "crates"],
        locations: ["HOLD 1", "HOLD 2"],
        details: "You can find no way to open the barrels, but there is definitely root beer inside.",
        open_message: "You can find no way to open the barrels, but there is definitely root beer inside.",
        take_message: "The barrels are far too heavy.",
    ),
    "HOLD 1": (
        names: ["Hold"],
        desc: "You are in the middle of a spacious hold. Crates and barrels array the sides.",
    ),
    "HOLD 1 NORTH": (
        names: ["north"],
        desc: "The hold continues to the north.",
        locations: ["HOLD 1"],
        details: "The end of the hold is too dark to see into.",
        dest: "HOLD 2",
    ),
    "SLEEPING PIRATE": (
        names: ["pirate"],
        desc: "There is a pirate lying in a chair, asleep.",
        locations: ["HOLD 1"],
        details: "He seems to be intently snoring.",
        push_message: "You probably shouldn't wake him.",
        hp: 1,
    ),
    "BANANA": (
        names: ["banana"],
        desc: "There is a banana here.",
        locations: ["SLEEPING PIRATE"],
        can_take: true,
        food: Edible,
    ),
    "STEEP STAIRS HOLD": (
        desc: "Steep stairs lead upwards.",
        names: ["steep stairs", "up"],
        locations: ["HOLD 1"],
        dest: "CREW DECK 1",
    ),
    "HOLD 2": (
        names: ["Hold"],
        desc: "You are at the end of a spacious hold. Crates and barrels array the sides.",
    ),
    "HOLD 2 SOUTH": (
        desc: "The hold continues to the south.",
        names: ["south"],
        locations: ["HOLD 2"],
        details: "The middle of the hold is lit by a lantern.",
        dest: "HOLD 1",
    ),
    "RATS": (
        desc: "A swarm of rats raves on the floor.",
        names: ["swarm of rats"],
        locations: ["HOLD 2"],
        nature: Aggressive,
        hp: 1,
        damage: 1,
    ),
    "SWORD": (
        desc: "There is a sword here.",
        names: ["sword"],
        locations: ["HOLD 2"],
        details: "It's a basic short sword with a few knicks.",
        can_take: true,
        damage: 3,
    ),
    "STEEP STAIRS CREW DOWN": (
        desc: "Steep stairs lead downwards.",
        names: ["steep stairs leading downwards", "down"],
        locations: ["CREW DECK 1"],
        dest: "HOLD 1",
    ),
    "CREW DECK 1": (
        desc: "You are on a deck with dirty hammocks hanging everywhere.",
        names: ["Crew Deck"],
    ),
    "CREW DECK 1 NORTH": (
        desc: "The deck continues to the north.",
        names: ["north"],
        locations: ["CREW DECK 1"],
        dest: "CREW DECK 2",
    ),
    "DRUNK PIRATE": (
        desc: "There is a drunk pirate stumbling around the room.",
        names: ["drunk pirate"],
        details: "He stumbles around but does not seem to recognize you.",
        locations: ["CREW DECK 1"],
        nature: Passive,
        hp: 5,
        damage: 2,
    ),
    "CUTLASS": (
        desc: "There is a cutlass here.",
        names: ["cutlass"],
        locations: ["DRUNK PIRATE"],
        details: "It is made of thick steel and has many notches. The edge is very sharp.",
        can_take: true,
        damage: 5,
    ),
    "CREW DECK 2": (
        desc: "You are on a deck with dirty hammocks hanging everywhere.",
        names: ["Crew Deck"],
    ),
    "CREW DECK 2 SOUTH": (
        desc: "The deck continues to the south.",
        names: ["south"],
        locations: ["CREW DECK 2"],
        dest: "CREW DECK 1",
    ),
    "ANGRY PIRATE": (
        desc: "There is an angry pirate here.",
        names: ["angry pirate"],
        locations: ["CREW DECK 2"],
        details: "He snarls at you.",
        nature: Aggressive,
        hp: 7,
        damage: 2,
    ),
    "STEEP STAIRS CREW UP": (
        desc: "Steep stairs lead upwards.",
        names: ["steep stairs leading upwards", "up"],
        locations: ["CREW DECK 1"],
        dest: "CANNON DECK 1",
    ),
    "STEEP STAIRS CANNON DOWN": (
        desc: "Steep stairs lead downwards.",
        names: ["steep stairs leading downwards", "down"],
        locations: ["CANNON DECK 1"],
        dest: "CANNON DECK 1",
    ),
    "CANNONS": (
        desc: "There is a row of cannons on each side of the deck.",
        names: ["cannons"],
        locations: ["CANNON DECK 1", "CANNON DECK 2"],
    ),
    "CANNON DECK 1": (
        desc: "This deck has cannons lining each side.",
        names: ["Cannon Deck"],
    ),
    "CANNON DECK 1 NORTH": (
        desc: "The deck continues to the north.",
        names: ["north"],
        locations: ["CANNON DECK 1"],
        dest: "CANNON DECK 2",
    ),
    "CANNON DECK 2": (
        desc: "This deck has cannons lining each side.",
        names: ["Cannon Deck"],
    ),
    "CANNON DECK 2 SOUTH": (
        desc: "The deck continues to the south.",
        names: ["south"],
        locations: ["CANNON DECK 2"],
        dest: "CANNON DECK 1",
    ),
    "STEEP STAIRS CANNON UP": (
        desc: "Steep stairs lead upwards.",
        names: ["steep stairs leading upwards", "up"],
        locations: ["CANNON DECK 1"],
        dest: "MAIN DECK",
    ),
    "STEEP STAIRS MAIN DOWN": (
        desc: "Steep stairs lead downwards.",
        names: ["steep stairs", "down"],
        locations: ["MAIN DECK"],
        dest: "CANNON DECK 1",
    ),
    "MAIN DECK": (
        desc: "The vast open sea surrounds the ship you stand on.",
        names: ["Main Deck"],
    ),
    "MAIN DECK UP": (
        desc: "There is a platform above you on the central mast",
        names: ["mast", "platform", "up"],
        locations: ["MAIN DECK"],
        details: "The platform can be reached by using holds on the mast.",
        dest: "PLATFORM",
    ),
    "HELM STAIRS DECK": (
        desc: "Stairs towards the south lead up to the sterncastle.",
        names: ["stairs", "south"],
        locations: ["MAIN DECK"],
        details: "The stairs look old and dirty.",
        dest: "HELM",
    ),
    "GREAT CABIN": (
        desc: "You stand in a large cabin with the captains belongings littering the ground and hanging on the walls.",
        names: ["Great Cabin"],
    ),
    "GREAT CABIN DOOR": (
        names: ["great cabin door"],
        details: "The door is large with a small dim window in the center.",
        container: Closed,
    ),
    "GREAT CABIN DOOR DECK": (
        desc: "There is door on the wall beneath the sterncastle of the ship.",
        names: ["door"],
        locations: ["MAIN DECK"],
        dest: "GREAT CABIN",
        door: "GREAT CABIN DOOR",
    ),
    "GREAT CABIN DOOR CABIN": (
        desc: "There is door at the north end of the room.",
        names: ["door", "north"],
        locations: ["GREAT CABIN"],
        dest: "MAIN DECK",
        door: "GREAT CABIN DOOR",
    ),
    "PIRATE CAPTAIN": (
        desc: "There is a pirate captain here.",
        names: ["pirate captain"],
        locations: ["GREAT CABIN"],
        details: "He grins, showing off multiple golden teeth.",
        nature: Aggressive,
        hp: 10,
        damage: 3,
    ),
    "BLUE RING": (
        desc: "There is a blue ring here.",
        names: ["blue ring"],
        locations: ["PIRATE CAPTAIN"],
        details: "When the ring catches the sunlight, the surface shimmers like the waves of the sea.",
        can_take: true,
    ),
    "HELM": (
        desc: "You are at the helm of the ship. There is another mast in the center behind the ships wheel.",
        names: ["Helm"],
    ),
    "HELM STAIRS HELM": (
        desc: "The stairs lead back onto the main deck.",
        names: ["stairs", "north", "down"],
        locations: ["HELM"],
        details: "The stairs look old and dirty.",
        dest: "MAIN DECK",
    ),
    "PLATFORM": (
        desc: "You stand on a platform several feet above the main deck.",
        names: ["Platform"],
    ),
    "PLATFORM DOWN": (
        desc: "The main deck is below you.",
        names: ["main deck", "down"],
        locations: ["PLATFORM"],
        dest: "MAIN DECK",
        details: "The main deck is several feet below.",
    ),
    "PLATFORM UP": (
        desc: "There is a crows nest above you on the central mast.",
        names: ["crows nest", "mast", "up"],
        locations: ["PLATFORM"],
        dest: "CROWS NEST",
        details: "The crows nest can be reached through holds and rigging on the mast.",
    ),
    "CROWS NEST": (
        desc: "You are in a crows nest overlooking the entire ship and sea.",
        names: ["Crow's Nest"],
    ),
    "CROWS NEST DOWN": (
        desc: "There is a platform below you on the central mast.",
        names: ["platform", "mast", "down"],
        locatations: ["CROWS NEST"],
        dest: "PLATFORM",
        details: "The platform can be reached through holds on the mast.",
    ),
    "SLEEPING LOOKOUT": (
        desc: "There is a sleeping pirate here.",
        names: ["pirate", "lookout"],
        locations: ["CROWS NEST"],
        details: "He doesn't appear to be a very good lookout",
        push_message: "You probably shouldn't wake him.",
        hp: 1,
    ),
    "GOLD COIN": (
        desc: "There is a gold coin here.",
        names: ["gold coin"],
        locations: ["SLEEPING LOOKOUT"],
        details: "It's very shiny and looks valuable.",
        can_take: true,
    ),
})
